snippet sample "REST API Sample" b
# Global scope.
https://jsonplaceholder.typicode.com/posts

// Variable declarations (value passed as is).
foobar = LoremIpsum
city = Some%20City
zip = 12345
population = 42
restpassword = $SECRET_ENV_VAR
--
# End global scope.

--
GET /

--
GET /city/:city

--
GET /city/:city/zip/:zip

--
custom-header :foobar
POST /city/:city
{ "population": :population }
endsnippet
