[core]
	hooksPath = ~/.git-hooks
        pager = delta
[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
    line-numbers = true
[pull]
    rebase = true
